<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vacant</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Buy
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">All Assets</a>
          <a class="dropdown-item" href="#">Bank owned</a>
          <a class="dropdown-item" href="#">Foreclosure</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">About us</a>
          <a class="dropdown-item" href="#">Contact Us</a>
          <a class="dropdown-item" href="#">Live chat</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-2 mr-sm-5">
      <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-5" type="button">Log in</button>
      <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-5" type="button">Sign up</button>
    </form>
  </div>
</nav>